{% extends "../base.njk" %}

{% from '../utils/filterForm.njk' import filterForm %}

{% block pageBody %}
    <h1>Choose uploads to compare with</h1>

    {{ filterForm(viewModel.form) }}
{% endblock %}
