{% extends "../base.njk" %}

{% from '../utils/table.njk' import table %}

{% block pageBody %}
    <h1>{{ viewModel.heading }}</h1>

    <p>There are {{ viewModel.occurrencesTable.rows | length }} recorded failures of this test case.</p>

    {{ table(viewModel.occurrencesTable) }}
{% endblock %}
