{% extends "../base.njk" %}

{% from '../utils/checkboxes.njk' import checkboxes %}

{% block pageBody %}
    <h1>Filter uploads</h1>

    <form action="/uploads">
        <h2>Branches</h2>

        <p>If no boxes are checked, then the uploads will not be filtered by branch.</p>

        {{ checkboxes(viewModel.branchOptions) }}

        <h2>Upload date</h2>

        <fieldset>
            <label for="createdAfter">Only show uploads created after (ISO 8601 format)</label>
            <input type="text" id="createdAfter" name="createdAfter">
        </fieldset>

        <button type="submit">Apply filter</button>
    </form>
{% endblock %}
