{% extends "../base.njk" %}

{% from '../utils/table.njk' import table %}

{% block pageBody %}
    <h1>Overview of uploads</h1>

    <p>There are {{ viewModel.table.rows | length }} uploads.</p>

    {{ table(viewModel.table) }}
{% endblock %}
