{% extends "../base.njk" %}

{% from '../utils/table.njk' import table %}

{% block pageBody %}
    <h1>Overview of uploads</h1>

    <p>
    <strong>{{viewModel.filterSummary}}</strong>
    </p>

    <p>
    <a href="/uploads/filter">{{viewModel.filterLinkText}}</a>
    </p>

    <h2>All uploads</h2>

    <p>{{ viewModel.tableIntroText }}</p>

    {{ table(viewModel.table) }}

    <h2>Occurrences of failures</h2>

    <p>{{ viewModel.failureOccurrencesTableIntroText }}</p>

    {{ table(viewModel.failureOccurrencesTable) }}
{% endblock %}
