{% extends "../base.njk" %}

{% block pageBody %}
    <h1>Repos</h1>

    <ul>
        {% for repo in viewModel.repos %}
            <li><a href="/repos/{{repo}}/uploads">{{repo}}</a></li>
        {% endfor %}
    </ul
{% endblock %}
