{% from './dataItem.njk' import dataItem %}

{% macro table(viewModel) %}
    <table>
        <tr>
            {% for header in viewModel.headers %}
                <th scope="column">{{ header }}</th>
            {% endfor %}
        </tr>

        {% for row in viewModel.rows %}
            <tr>
                {% for item in row %}
                    <td>
                        {{ dataItem(item) }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
